@model CarViewModel
<form asp-action="Index" asp-controller="Car">
    <h4>Car</h4>
    <hr />
    <input asp-for="@Model.ID" type="hidden"/>
    <br />
    <label asp-for="@Model.Brand"></label>
    <input asp-for="@Model.Brand" />
    <br />
    <label asp-for="@Model.Model"></label>
    <input asp-for="@Model.Model" />
    <br />
    <label asp-for="@Model.TopSpeed"></label>
    <input asp-for="@Model.TopSpeed" />
    <br />
    <button type="submit">Save</button>
</form>