@model CarViewModel
<label asp-for="@Model.Brand"></label> : @Model.Brand
<br />
<label asp-for="@Model.Model"></label> : @Model.Model
<br />
<label asp-for="@Model.TopSpeed"></label> : @Model.TopSpeed
<br />
<hr />

